@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

:root {
    --bg-left: #4aa65d;
    --bg-right: #3f8d7a;
    --green: #409175;
    --black: #272d40;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    background-image: linear-gradient(
        to right,
        var(--bg-left),
        var(--bg-right)
    );
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    max-width: 320px;
    height: 400px;
    background-color: var(--black);
    border-radius: 10px;

    &__circle {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        cursor: pointer;

        &--color-red {
            background-color: red;
        }
        &--color-lime {
            background-color: lime;
        }

        &--color-gray {
            background-color: gray;
        }
    }
    &__box {
        width: 26px;
        height: 26px;
        background-color: white;
        color: black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &__icon {
            color: white;
            width: 24px;
            height: 24px;
            margin: 16px;
            cursor: pointer;
            .card:hover & {
                position: relative;
                z-index: 2;
            }
        }
    }

    &__img {
        width: 90%;
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        .card:hover & {
            img {
                rotate: -20deg;
            }
        }
    }

    &__content {
        margin: 0px 12px;
        transition: translate ease 1s;

        &__price {
            color: white;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 12px;
            text-align: center;
            transition: transform ease 0.5s;
        }

        h2 {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 12px;
            color: var(--green);
            font-weight: 750;
            text-align: center;
            transition: transform ease 0.7s;
        }

        .card:hover & {
            translate: 0px -100px;

            &__price {
                transform: translate(-133px, -30px);
            }

            h2 {
                transform: translate(-45px, -30px);
            }
        }
    }

    &__feature {
        visibility: hidden;
        margin: 0px 12px;
        opacity: 0;
        transition: opacity ease 1s, translate ease 1s, visibility ease 0.5s;

        &__option-size {
            display: flex;
            gap: 8px;
            margin-bottom: 12px;
            font-size: 20px;
            line-height: 28px;
            color: white;
        }

        &__option-color {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            gap: 8px;
            color: white;
            font-size: 20px;
            line-height: 28px;
        }

        button {
            &:hover {
                scale: 0.92;
            }
            transition: scale ease 0.7s;
            cursor: pointer;
            color: white;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 20px;
            margin-right: 7px;
            outline: none;
            border: none;
            background-color: var(--green);
        }

        .card:hover & {
            visibility: visible;
            translate: 0px -90px;
            opacity: 1;
        }
    }
}
